:root {
  --main-background: #005073;
  --text-primary-color: #fff;
  --text-secondary-color: #ff4500; /* orangered */
  --border-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100vw;
  padding: 1rem;
  background: var(--main-background);
  overflow-x: hidden;
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  font-size: 3.3rem;
  margin: auto;
}

h2 {
  font-size: 2.5rem;
  margin: 1.5rem;
}

p {
  font-size: 2.2rem;
  margin: 1.5rem;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}
input {
  padding: 1rem;
  font-size: 1.6rem;
  width: 50rem;
  margin-bottom: 1rem;
}
input:focus {
  outline-offset: -2px;
  outline-color: var(--text-secondary-color);
}
button {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  cursor: pointer;
  width: 50rem;
  border: 1px solid var(--border-color);
  color: var(--text-primary-color);
  background: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
button:hover {
  border: 1px solid var(--text-secondary-color);
  color: var(--text-secondary-color);
}

/* *** Utility Classes *** */

.italic {
  font-style: italic;
}

.large {
  font-size: 7rem;
}

.skeleton {
  animation: skeleton-loading 0.5s linear infinite alternate;
  border-radius: 0.5rem;
  opacity: 0.7;
}

.rotate {
  animation: rotateNeedle 1s linear 2 alternate;
  transform-origin: center;
}

.blank-long,
.blank-medium,
.blank-thick,
.blank-short,
.blank-short-time,
.blank-large-icon {
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    #005073
  );
  background-size: 400%;
}

.blank-short-time {
  width: 30%;
  height: 3rem;
}
.blank-short {
  width: 40%;
  height: 3rem;
}
.blank-medium {
  width: 55%;
  height: 3rem;
}
.blank-thick {
  width: 45%;
  height: 7.5rem;
}
.blank-long {
  width: 70%;
  height: 3rem;
}
.blank-large-icon {
  width: 50%;
  height: 15rem;
}
.output-blank-longer,
.output-blank-shorter {
  background-image: linear-gradient(to right, rgba(255, 83, 73, 0.9), #005073);
  background-size: 400%;
  border-radius: 0.5rem;
}

.output-blank-longer {
  width: 25%;
  height: 2.5rem;
}
.output-blank-shorter {
  width: 15%;
  height: 2.5rem;
}

/* //////////////////////////////////////// */
.data-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-location-btn {
  margin-top: 1rem;
}

.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6rem;
}

.box {
  width: 50rem;
  min-height: 50rem;
  border: 1px solid var(--border-color);
  margin: 3rem;
  padding: 2rem;
}
.icon-wrapper {
  margin: 1rem;
  height: 16rem;
  display: grid;
  place-items: center;
}

.weather-icons {
  width: 35%;
}

.wind-gadget {
  width: 50%;
  margin: auto;
}
.st0 {
  display: none;
}
.st1 {
  display: inline;
}
.st2 {
  fill: #ffffff;
}
.st3 {
  fill: #ff4500;
}
.st4 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-miterlimit: 10;
}

.output,
.error-message {
  color: var(--text-secondary-color);
}
/* ////////////////////////////////////////////////////////////// */

.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}
/* ////////////////////////////////////////////////////////////// */
/* *** Media Queries *** */

@media only screen and (max-width: 375px) {
  html {
    font-size: 45%;
  }
  body {
    padding: 0;
    overflow-x: hidden;
    flex-direction: column-reverse;
  }
  h1 {
    display: none;
  }
  input,
  button {
    width: 40rem;
  }
  p {
    margin: 1.3rem;
  }

  form {
    flex-direction: column;
    margin-top: 3rem;
  }
  button {
    margin-top: 1rem;
  }
  input {
    margin-bottom: 0;
  }
  .app-wrapper {
    flex-direction: column;
    margin-top: 5rem;
  }
  .box {
    padding: 0 3rem;
    margin: 0;
    border: none;
  }
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  html {
    font-size: 55%;
  }
  body {
    padding: 0;
    flex-direction: column-reverse;
    overflow-x: hidden;
  }
  input,
  button {
    width: 40rem;
  }
  h1 {
    top: 3%;
  }
  p {
    margin: 1.4rem;
  }
  form {
    margin-top: 10rem;
  }
  button {
    margin-top: 1rem;
  }
  input {
    margin-bottom: 0;
  }
  .app-wrapper {
    flex-direction: column;
    margin-top: 5rem;
  }
  .box {
    padding: 0 3rem;
    border: none;
    margin: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
  html {
    font-size: 62.5%;
  }
  body {
    flex-direction: column-reverse;
  }
  h1 {
    top: 3%;
  }
  form {
    flex-direction: column;
    margin-top: 10rem;
  }
  button {
    margin-top: 1rem;
    width: 55rem;
  }
  input {
    width: 55rem;
    margin-bottom: 0;
  }
  .app-wrapper {
    flex-direction: column;
    margin-top: 5rem;
  }
  .box {
    width: 55rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1400px) {
  html {
    font-size: 50%;
  }
}
/* *** Animations *** */

@keyframes skeleton-loading {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes rotateNeedle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
